In [16]:
import pandas as pd
import numpy as np 
import matplotlib.pyplot as plt 
import seaborn as sns 
import datetime
%matplotlib inline
from sklearn.linear_model import LogisticRegression 
from sklearn import preprocessing 
from sklearn. model_selection import train_test_split
from sklearn.impute import SimpleImputer

In [17]:
df = pd.read_csv("PCOS_infertility.csv")
df.head()

,Sl. No,Patient File No.,PCOS (Y/N),I beta-HCG(mIU/mL),II beta-HCG(mIU/mL),AMH(ng/mL)
0,1,10001,0,1.99,1.99,2.07
1,2,10002,0,60.80,1.99,1.53
2,3,10003,1,494.08,494.08,6.63
3,4,10004,0,1.99,1.99,1.22
4,5,10005,0,801.45,801.45,2.26

In [18]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 541 entries, 0 to 540
Data columns (total 6 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Sl. No                  541 non-null    int64
 1   Patient File No.        541 non-null    int64
 2   PCOS (Y/N)              541 non-null    int64
 3     I   beta-HCG(mIU/mL)  541 non-null    float64
 4   II    beta-HCG(mIU/mL)  541 non-null    float64
 5   AMH(ng/mL)              541 non-null    object
dtypes: float64(2), int64(3), object(1)
memory usage: 25.5+ KB

In [19]:
df = df.drop(df.columns[[0,1]],axis=1)
df.head()

   PCOS (Y/N)    I   beta-HCG(mIU/mL)  II    beta-HCG(mIU/mL) AMH(ng/mL)
0           0                    1.99                    1.99       2.07
1           0                   60.80                    1.99       1.53
2           1                  494.08                  494.08       6.63
3           0                    1.99                    1.99       1.22
4           0                  801.45                  801.45       2.26

In [22]:
import numpy as np

# Replace non-numeric values with NaN
df['AMH(ng/mL)'] = pd.to_numeric(df['AMH(ng/mL)'], errors='coerce')

# Convert column to float64
df['AMH(ng/mL)'] = df['AMH(ng/mL)'].astype(np.float64)

In [23]:
X = df.iloc[:,[1,2,3]]
y = df.iloc[:,0]
X_train, X_test, y_train, y_test = train_test_split(X,y,test_size = 0.25,random_state = 1)

# Replace NaN values mean value
imputer = SimpleImputer(strategy = 'mean')
X_train = imputer.fit_transform(X_train)
X_test = imputer.transform(X_test)

In [27]:
PCOS_model = LogisticRegression()
PCOS_model.fit(X_train, y_train)
              
y_predict = PCOS_model.predict(X_train).reshape(-1,1)
score = PCOS_model.score(X_test, y_test)
print (f"Accuracy: {score}")

Accuracy: 0.6911764705882353

In [30]:
import pickle
pickle.dump(PCOS_model, open("model.pkl","wb"))

#Loading model
PCOS_model = pickle.load(open("model.pkl","rb"))
print (PCOS_model.predict([[60.80, 1.99, 1.53]]))

[0]